
.navbar{
    margin-top: 0;
    padding-top: 0;
    background-color: rgb(147, 0, 160);
    height: 100%;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template: 1fr 2fr/ 10% 10% 10%;
    grid-template-areas: 
        "fblink fblink fblink"
        "link1 link2 link3"
    ;
}

.fblink{
    grid-area: fblink;
    margin-left: 10px;
}
.link1{
    grid-area: link1;
       
}
.link2{
    grid-area: link2;
}
.link3{
    
    grid-area: link3;
}

.navlink{
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-left: 10px;
    height: 80%;
    width:100%;
    cursor: "pointer";
    display:flex;
    flex-direction: column;  
}

.navlink:hover {
    background: #f6b93b;
    border-color: #f6b93b;
    transition: all 0.4s ease 0s;
}



